<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tourney Pro Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script>
            function toMyProfile(){
                var form = document.getElementById("toMyProfile");
                form.submit()
            }
            function toMyTourneys(){
                var form = document.getElementById("toMyTourneys");
                form.submit()
            }
            function createTourney(){
                var form = document.getElementById("createTourney");
                form.submit()
            }
            function toCompTourneys(){
                var form = document.getElementById("toCompTourneys");
                form.submit()
            }
            function toJoinTourney(){
                var form = document.getElementById("toJoinTourney");
                form.submit()
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TOURNEY PRO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="/myProfile" method="get" id="toMyProfile">
                    <a class="nav-link" onClick="toMyProfile()">My Profile <span class="sr-only">(current)</span></a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/createTourney" method="get" id="createTourney">
                    <a class="nav-link" onClick="createTourney()">Create A Tourney</a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/toJoinTourney" method="get" id="toJoinTourney">
                    <a class="nav-link" onClick="toJoinTourney()">Join A Tourney</a>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tourneys
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form action="/myTourneys" method="get" id="toMyTourneys">
                        <a class="dropdown-item" onClick="toMyTourneys()">Hosting</a>
                        </form>
                        <form action="/compTourneys" method="get" id="toCompTourneys">
                        <a class="dropdown-item" onClick="toCompTourneys()">Competing</a>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        
            <% for(let i = 0; i < people.length; i++) { %>
                <form action="/toEditParticipants" method="post">
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100">
                            <img src="<%= people[i].icon%>">
                            <h5 class="mb-1" style="margin-top: 11px; margin-left: 15px"><%= people[i].name%></h5>
                        </div>
                        <div class="d-flex w-100">
                            <p class="mb-1">Rank: <%= people[i].rank%></p>
                        </div>
                        <div class="d-flex w-100">
                            <p class="mb-1">Wins: <%= people[i].wins%></p>
                        </div>
                        <div class="d-flex w-100">
                            <p class="mb-1">Losses: <%= people[i].losses%></p>
                        </div>
                        <div class="d-flex w-100">
                            <p class="mb-1">Status: <%= people[i].status%></p>
                        </div>
                        <div class="d-flex w-100">
                            <p class="mb-1">id: <%= people[i].userId%></p>
                        </div>
                        <input type="hidden" name="partId" value="<%= people[i].id%>">
                        <input type="hidden" name="tourneyId" value="<%= people[i].tourney%>">
                        <button type="submit" class="btn btn-primary  btn-block bg-dark">Edit</button>
                    </div>
                </form>
            <% } %>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>